

/* .navbar {
    display: flex;
    flex-direction: row;
} */

.logo {
    padding: 2px;
    margin-left: 20px;
}


.toggle {
    background-image: url('../../lgo.png');
    clip-path:circle() !important;
    margin-right: 20px;
    /* color: whitesmoke !important; */
    /* background-attachment: fixed !important; */
    /* background-repeat: no-repeat; */
/* background-position: top left; */
/* background-color:white !important; */

    

}


.items {
    margin: 10px !important;
    color: #154360 !important;
    font-family: cursive !important;
    font-size: 18px !important;


}

.items:hover {
    color: aliceblue !important;
    font-size: 20px !important;



    
}

#logout:hover {
    color: red !important;
    font-weight: 200 !important;
}