#contact {
    /* margin-left: 300px; */
  /* background-color: rgb(59, 50, 50); */
  width: auto;
  height: auto;
  padding-bottom: 100px;

}

@media (max-width:1199px) {
    #contact {
        /* margin-left: 0; */
    }
}

.contact {
    width: 100%;
    padding: 60px;
    margin-bottom: 0;
    /* color: rgb(235, 223, 223); */
}

.contact-title {
    padding: 4px;
    border: 4px double tomato;
    border-radius: 10px;
    width: 140px;
    margin-bottom: 30px;
    text-align: center;
    font-size: 26px;
}

.contact-flex {
    
    /* background-color: blue; */
    display: flex;
    padding: 20px;
    margin: 10px;
    /* border: 2px solid red; */
    flex-direction: row;
    flex-wrap: wrap;
    /* align-items: center; */
    justify-content: center;
}

.contact-details {
   
    display:block;
    border: double;
    border-radius: 5px;
    /* background-color: red; */
    width: 400px;
    /* height: 600px; */
    padding-bottom: 10px;
}



.form {
    border: double;
    border-radius: 5px;
     /* margin: 10px; */
    padding: 50px;
    /* background-color: blue; */
    width: 400px;
    /* height: 600px; */
    /* color: rgb(235, 223, 223); */
}

.form-control {
    background: rgb(235, 223, 223);
    font-size: 16px;
    /* color: rgb(235, 223, 223); */
}



.form :hover {
    color: tomato;
}

.info {
    padding: 30px;
    /* background: red; */
    /* color: rgb(235, 223, 223); */
    
}

.call {
    padding: 30px;
    /* background: red; */
    /* color: rgb(235, 223, 223); */
}

.email {
    padding: 30px;
    /* background: red; */
    /* color: rgb(235, 223, 223); */
}
.icon {
    font-size: 20px;
    /* color: rgb(235, 223, 223); */
    float: left;
    width: 40px;
    height: 40px;
    display: flex;
    line-height: 1;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    /* background: blue; */
    transition: all 0.3s ease-in-out;
    margin-right: 10px;
    border: 2px solid red;
    border-radius: 10px;
    /* cursor: pointer;  */
    padding: 4px;

    font-size: 20px;
}

.contact-details :hover {
    /* background: tomato; */
    /* padding: 0; */
    color: tomato;
    /* font-size: 30px; */
    /* padding: 0; */

}

.contact-heading {
    padding: 0 20px;
    margin-left: 10px;
    font-size: 20px;
    font-weight: 600;
}

.contact-para {
    padding: 0 10px;
    margin-bottom: 20px;
    font-size: 14px;

}


.form-group {
    display: grid;
    margin-bottom: 20px;
}

.label {
    padding-bottom: 20px;
    /* margin: 10px; */
    /* font-size: 16px; */
}

input {
    border-radius: 5px;
    box-shadow: none;
    font-size: 14px;
    height: 44px;
    padding: 10px;
}

textarea {
    border-radius: 5px;
    box-shadow: none;
    font-size: 16px;

}

textarea {
    padding: 10px 15px;
}

.submit {
    padding: 10px;
    cursor: pointer;
    font-size: 16px;
    background-color:rgb(211, 219, 211);
    /* color: rgb(235, 223, 223); */
    border-radius: 10px;
}

.map {


    margin-left: 10px;
    padding: 10px;
    /* margin-left: 15px; */
    /* margin-bottom: 20px; */

   align-items: center;
   text-align: center;

}
